<!-- このファイルはhtmlで書かれたファイルであるためpythonのコードを書くときに字下げを読み込めない
そのためendを使用する-->
<!-- POSTをする部分-->
<html>
<form method="POST" action="/othello">
縦の座標:<input type=text name="x">
横の座標:<input type=text name="y"><br>
<input type=submit name="submit" value="submit">
<input type=submit name="submit" value="reset">
<input type=submit name="submit" value="skip">
</form>
<!-- エラー表示があれば表示し、現在どちらの手番を表示する-->
% if error != '':
	{{error}}<br>
% end
% if nextturn == '1': 
次は●のターンです<br>
% else:
次は〇のターンです<br>
%end
<!-- 現在の盤面表示-->
<table border="1">
% for row in data:
	<tr>
	% for clm in row:
	% if clm == '0':
		<td>〇</td>
	% elif clm == '1':
                <td>●</td>
	% else :
                <td>　</td>
    	<!--<td>{{row[0]}}</td>
	<td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>-->
	%end
	%end
	</tr>
%end

</table>


</html>

